source/layouts/index.jade
// index.html
extends extends/base


block content
    main
        div.content
            div.parraph_1 INGRESA CON TUS DATOS
            div.parraph_2 Recuerda que para participar tienes que ser mayor de 18 años.
    div#register
        form#login-form.login-form.register__form
            label.login-form__title.block Ingresa tu fecha de nacimiento:

            .login-form__field.first-child 
                span
                    input#day_born(name="day_born", type="text", placeholder="Día", maxlength="2", value="DD")        

            .login-form__field
                span
                    input#month_born(name="month_born", type="text", placeholder="Mes", maxlength="2", value="MM")
                

            .login-form__field
                span
                    input#year_born(name="year_born", type="text", placeholder="Año", maxlength="4", value="AAAA")
                
            label.login-form__title.block Ingresa tu DNI:

            .login-form__field.input-dni                            
                span
                    input#dni(name="dni", type="text", placeholder="DNI", maxlength="8")
            
            .field__birth
                input#birth_date(type="hidden", name="birth_date")

            #errors.errors

            .login-form__action.align-center
                button#btn-login.btn-action__button(type="submit") Enviar 

dist/index.html
<!DOCTYPE html>
<html lang="es" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Pilsen Shazam</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="css/style.min.css"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXXXXX-X', 'auto');
        ga('send', 'pageview');
    
    -->
  </head>
  <body>
    <!--script.
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '122116811469498',
          xfbml      : true,
          version    : 'v2.4'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    
    
    -->
    <div class="bg-intro"><img src="images/bg/bg_home.jpg" alt="background friends"></div>
    <div class="franja"></div>
    <header id="branding">
      <div class="franja_desktop">
        <div id="logo"><img src="images/logo_raspa_viaja.png" alt="Logo Pilsen Callao"></div>
      </div>
    </header>
    <main>
      <div class="content">
        <div class="parraph_1">INGRESA CON TUS DATOS</div>
        <div class="parraph_2">Recuerda que para participar tienes que ser mayor de 18 años.</div>
      </div>
    </main>
    <div id="register">
      <form id="login-form" class="login-form register__form">
        <label class="login-form__title block">Ingresa tu fecha de nacimiento:</label>
        <div class="login-form__field first-child"> <span>
            <input id="day_born" name="day_born" type="text" placeholder="Día" maxlength="2" value="DD"></span></div>
        <div class="login-form__field"><span>
            <input id="month_born" name="month_born" type="text" placeholder="Mes" maxlength="2" value="MM"></span></div>
        <div class="login-form__field"><span>
            <input id="year_born" name="year_born" type="text" placeholder="Año" maxlength="4" value="AAAA"></span></div>
        <label class="login-form__title block">Ingresa tu DNI:</label>
        <div class="login-form__field input-dni">                           <span>
            <input id="dni" name="dni" type="text" placeholder="DNI" maxlength="8"></span></div>
        <div class="field__birth">
          <input id="birth_date" type="hidden" name="birth_date">
        </div>
        <div id="errors" class="errors"></div>
        <div class="login-form__action align-center">
          <button id="btn-login" type="submit" class="btn-action__button">Enviar </button>
        </div>
      </form>
    </div>
    <div class="terms"><a href="" alt="Términos y condiciones">Terminos y condiciones</a></div>
    <div class="clear"></div>
    <footer id="colophon">
      <div class="colophon__contact"><img src="images/botella.png" alt="Tomar en exceso es dañino"><span>RD N° 1427-2015-ONAGI-DGAE-DA.</span></div>
    </footer>
    <div class="colophon__message"><img src="images/title_tomar-bebidas.png" alt="Tomar en exceso es dañino"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.alphanum.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.functions.js" type="text/javascript">       </script>
    <script src="js/bundle.js"></script>
  </body>
</html>
