dist/lo_sentimos.html
<!DOCTYPE html>
<html lang="es" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Pilsen Shazam</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="css/style.min.css"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXXXXX-X', 'auto');
        ga('send', 'pageview');
    
    -->
  </head>
  <body>
    <!--script.
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '122116811469498',
          xfbml      : true,
          version    : 'v2.4'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    
    
    -->
    <div class="bg-intro"><img src="images/bg/bg_home.jpg" alt="background friends"></div>
    <div class="franja"></div>
    <header id="branding">
      <div class="franja_desktop">
        <div id="logo"><img src="images/logo_raspa_viaja.png" alt="Logo Pilsen Callao"></div>
      </div>
    </header>
    <main>
      <div class="content">
        <hr>
        <div class="parraph_1">LO SENTIMOS</div>
        <div class="parraph_2">EL TIEMPO PARA REGISTRAR TU PREMIO HA EXPIRADO</div>
        <hr>
        <div class="parraph_2">Según las bases del concurso, tenías 2 horas para registrarte y reclamar tu premio. Puedes seguir Shazameando el comercial e internarlo nuevamente.</div>
      </div>
    </main>
    <div class="terms"><a href="" alt="Términos y condiciones">Terminos y condiciones</a></div>
    <div class="clear"></div>
    <footer id="colophon">
      <div class="colophon__contact"><img src="images/botella.png" alt="Tomar en exceso es dañino"><span>RD N° 1427-2015-ONAGI-DGAE-DA.</span></div>
    </footer>
    <div class="colophon__message"><img src="images/title_tomar-bebidas.png" alt="Tomar en exceso es dañino"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.alphanum.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.functions.js" type="text/javascript">       </script>
    <script src="js/bundle.js"></script>
  </body>
</html>

source/layouts/lo_sentimos.jade
// index.html
extends extends/base


block content
    main
        div.content
            hr
            div.parraph_1 LO SENTIMOS
            div.parraph_2 EL TIEMPO PARA REGISTRAR TU PREMIO HA EXPIRADO
            hr
            div.parraph_2 Según las bases del concurso, tenías 2 horas para registrarte y reclamar tu premio. Puedes seguir Shazameando el comercial e internarlo nuevamente.
