source/layouts/registro.jade
// index.html
extends extends/base


block content
    main
        div.content
            div.parraph_2 Parece que no estas registrado en la campaña
            div.parraph_1 INGRESA TUS DATOS:
            div.parraph_2 Para registrar tu premio
    
    div#register
        form#register-form.register-form
            .register-form__field--name
                span
                    input#name(name="name", type="text", placeholder="Nombres" value="NOMBRES")
                
            .register-form__field--name
                span
                    input#lastname_father(name="lastname_father", type="text", placeholder="Apellido Paterno", value="APELLIDO PATERNO")
                
            .register-form__field--name
                span
                    input#lastname_mother(name="lastname_mother", type="text", placeholder="Apellido Materno", value="APELLIDO MATERNO")
                
            .register-form__group
                .register-form__field.space                      
                    label Ingresa tu fecha de Nacimiento

                .register-form__field--born.space
                    span
                        input#day(name="day", type="text", placeholder="Día", maxlength="2", readonly, value="DD")

                .register-form__field--born.space
                    span
                        input#month(name="month", type="text", placeholder="Mes", maxlength="2", readonly, value="MM")

                .register-form__field--born
                    span
                        input#year(name="year", type="text", placeholder="Año", maxlength="4", readonly, value="YYYY")

            .register-form__field.space.media
                span
                    input#dni_log(name="dni_log", type="text", placeholder="DNI", maxlength="8", readonly, value="Numero de DNI")
            
            .register-form__group--genre
                .register-form__field.space              
                    label Género             

                .register-form__field.space
                    label(for="male") M                
                    .wrap.check
                        input#m(name="gender", type="radio", value="M", checked)

                .register-form__field
                    label(for="female") F                      
                    .wrap
                        input#f(name="gender", type="radio", value="F")

            .register-form__field--email
                span
                    input#email(name="email", type="email", placeholder="Correo electrónico", value="CORREO ELECTRÓNICO")

            .register-form__group--city
                .register-form__field.name
                    span
                        select#department(name="department")
                            option(value="") • DEPARTAMENTO

                .register-form__field.name
                    span
                        select#province(name="province")
                            option(value="") • PROVINCIA

                .register-form__field.name
                    span
                        select#district(name="district")
                            option(value="") • DISTRITO
            
            .register-form__field--name
                span
                    input#mobile(name="mobile", type="text", placeholder="Número de celular", maxlength="9", value="NÚMERO DE CELULAR")
            
            .register-form__field--text.text-aviso
                label * Todos los datos son obligatorios
            hr.hr_2
            
            .register-form__field--check.text-aviso-2
                .wrap
                    input#terms(name="terms", type="checkbox")
                label(for="terms") Acepto los <a href="#" target="_blank">Términos y condiciones</a>
            hr.hr_2

            .register-form__field--check.text-aviso-2
                .wrap
                    input#promo(name="promo", type="checkbox")
                label(for="promo") Deseo recibir información / promociones por correo (NO ES OBLIGATORIO)

            .register-form__action.align-center
                button#btn-register.btn-action__button(type="submit") ENVIAR

dist/registro.html
<!DOCTYPE html>
<html lang="es" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Pilsen Shazam</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="css/style.min.css"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXXXXX-X', 'auto');
        ga('send', 'pageview');
    
    -->
  </head>
  <body>
    <!--script.
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '122116811469498',
          xfbml      : true,
          version    : 'v2.4'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    
    
    -->
    <div class="bg-intro"><img src="images/bg/bg_home.jpg" alt="background friends"></div>
    <div class="franja"></div>
    <header id="branding">
      <div class="franja_desktop">
        <div id="logo"><img src="images/logo_raspa_viaja.png" alt="Logo Pilsen Callao"></div>
      </div>
    </header>
    <main>
      <div class="content">
        <div class="parraph_2">Parece que no estas registrado en la campaña</div>
        <div class="parraph_1">INGRESA TUS DATOS:</div>
        <div class="parraph_2">Para registrar tu premio</div>
      </div>
    </main>
    <div id="register">
      <form id="register-form" class="register-form">
        <div class="register-form__field--name"><span>
            <input id="name" name="name" type="text" placeholder="Nombres" value="NOMBRES"></span></div>
        <div class="register-form__field--name"><span>
            <input id="lastname_father" name="lastname_father" type="text" placeholder="Apellido Paterno" value="APELLIDO PATERNO"></span></div>
        <div class="register-form__field--name"><span>
            <input id="lastname_mother" name="lastname_mother" type="text" placeholder="Apellido Materno" value="APELLIDO MATERNO"></span></div>
        <div class="register-form__group">
          <div class="register-form__field space">                     
            <label>Ingresa tu fecha de Nacimiento</label>
          </div>
          <div class="register-form__field--born space"><span>
              <input id="day" name="day" type="text" placeholder="Día" maxlength="2" readonly value="DD"></span></div>
          <div class="register-form__field--born space"><span>
              <input id="month" name="month" type="text" placeholder="Mes" maxlength="2" readonly value="MM"></span></div>
          <div class="register-form__field--born"><span>
              <input id="year" name="year" type="text" placeholder="Año" maxlength="4" readonly value="YYYY"></span></div>
        </div>
        <div class="register-form__field space media"><span>
            <input id="dni_log" name="dni_log" type="text" placeholder="DNI" maxlength="8" readonly value="Numero de DNI"></span></div>
        <div class="register-form__group--genre">
          <div class="register-form__field space">             
            <label>Género             </label>
          </div>
          <div class="register-form__field space">
            <label for="male">M                </label>
            <div class="wrap check">
              <input id="m" name="gender" type="radio" value="M" checked>
            </div>
          </div>
          <div class="register-form__field">
            <label for="female">F                      </label>
            <div class="wrap">
              <input id="f" name="gender" type="radio" value="F">
            </div>
          </div>
        </div>
        <div class="register-form__field--email"><span>
            <input id="email" name="email" type="email" placeholder="Correo electrónico" value="CORREO ELECTRÓNICO"></span></div>
        <div class="register-form__group--city">
          <div class="register-form__field name"><span>
              <select id="department" name="department">
                <option value="">• DEPARTAMENTO</option>
              </select></span></div>
          <div class="register-form__field name"><span>
              <select id="province" name="province">
                <option value="">• PROVINCIA</option>
              </select></span></div>
          <div class="register-form__field name"><span>
              <select id="district" name="district">
                <option value="">• DISTRITO</option>
              </select></span></div>
        </div>
        <div class="register-form__field--name"><span>
            <input id="mobile" name="mobile" type="text" placeholder="Número de celular" maxlength="9" value="NÚMERO DE CELULAR"></span></div>
        <div class="register-form__field--text text-aviso">
          <label>* Todos los datos son obligatorios</label>
        </div>
        <hr class="hr_2">
        <div class="register-form__field--check text-aviso-2">
          <div class="wrap">
            <input id="terms" name="terms" type="checkbox">
          </div>
          <label for="terms">Acepto los <a href="#" target="_blank">Términos y condiciones</a></label>
        </div>
        <hr class="hr_2">
        <div class="register-form__field--check text-aviso-2">
          <div class="wrap">
            <input id="promo" name="promo" type="checkbox">
          </div>
          <label for="promo">Deseo recibir información / promociones por correo (NO ES OBLIGATORIO)</label>
        </div>
        <div class="register-form__action align-center">
          <button id="btn-register" type="submit" class="btn-action__button">ENVIAR</button>
        </div>
      </form>
    </div>
    <div class="terms"><a href="" alt="Términos y condiciones">Terminos y condiciones</a></div>
    <div class="clear"></div>
    <footer id="colophon">
      <div class="colophon__contact"><img src="images/botella.png" alt="Tomar en exceso es dañino"><span>RD N° 1427-2015-ONAGI-DGAE-DA.</span></div>
    </footer>
    <div class="colophon__message"><img src="images/title_tomar-bebidas.png" alt="Tomar en exceso es dañino"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.alphanum.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.validate.functions.js" type="text/javascript">       </script>
    <script src="js/bundle.js"></script>
  </body>
</html>
